.sidebar {
    text-align: left;
}

.search-bar {
    height: 8vh;
    background-color: #444444;
    border: none
}


.sidebar-itemList {
    height: 100vh;
    border-right: 2px solid #ccc ;
    background-color: #efefef;
    font-weight: 600;
}

.sidebar-item:hover {
    background-color: #cdcdcd;
}

.sidebar-item {
    cursor: pointer;
}

.sidebar-item-link {
    margin-left: 10px;
    text-decoration: none;
}